name: Enforce Testing Branch Flow

on:
    pull_request:
        branches: 
            - main

jobs:
    check-testing-branch:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout overlay
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: Check if commits exist in test branch
              run: |
                  git fetch origin
                  COMMITS_TO_CHECK=$(git rev-list origin/main..HEAD)

                  if [[ -z "$COMMITS_TO_CHECK" ]]; then
                      echo "[Info] No new commits to check."
                      exit 0
                  fi

                  for commit in $COMMITS_TO_CHECK; do
                    if ! git merge-base --is-ancestor "$commit" origin/test; then
                      echo "[Error] Commit $commit not in testing branch"
                      exit 1
                    fi
                  done
